/* TEST CSS */

html,
body {
    margin: 0 !important;
    padding: 0 !important;
    background: #111318 !important;
    color: white !important;
    font-family: Arial, sans-serif !important;
}

h1,
h2,
h3 {
    font-family: Arial, sans-serif !important;
    color: white !important;
}

button {
    background: #ffffff !important;
    color: #111318 !important;
    border: 0 !important;
    border-radius: 14px !important;
    padding: 12px 18px !important;
}
